<div class="container-fluid footer">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1><b>EduGrocery</b></h1>
            <p style="font-size: 13px;">We are here to deliver items at your Door Step </p>
        </div>
        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <!--<a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="cart">Cart</a>
            <a routerLink="register-user">Register-User</a>-->
            <a routerLink="about">About</a><br>
            <a routerLink="contact">Contact_Us</a>
            
        </div>
        
        <!-- social media -->
        <div class="col-lg-2 mt-3 mb-3">
            <h3 style="color: white;"> Explore Us</h3>
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
