
<body>
    <h1 class="section-header"><b style="color: rgb(33, 100, 145);">Contact us</b></h1>
      <div class="container mt-5 mb-5">
          <section id="contact">
        
             
              
              <div class="contact-wrapper">
              
              <!-- Left contact page  id="contact-form" class="form-horizontal" role="form"--> 
                
                <form id="contact-form" class="form-horizontal" role="form">
                   
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="name" placeholder="CITY NAME" name="name" value="" required>
                    </div>
                  </div>
            
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="email" placeholder="REGISTERED EMAIL" name="email" value="" required>
                    </div>
                  </div>
            
                  <!--<textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>-->
                  
                  <button onclick="location.href='https://www.whatsapp.com/'" class="btn btn-success send-button" id="submit" type="submit" value="SEND">
                    <div class="alt-send-button">
                      <i class="fa fa-paper-plane"></i><span class="send-text">Click Here</span>
                    </div>
                  
                  </button>
                  
                </form>
                
              <!-- Left contact page --> 
                
                  <div class="direct-contact-container">
            
                    <ul class="contact-list">
                      <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">EduGrocery,</span></i></li>
  
                      <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Adyar, Chennai-600020.</span></i></li>
                      
                      <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:+91-9597211503" title="Give me a call">+91-9597211503</a></span></i></li>
                      
                      <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">edugrocerygmail.com</a></span></i></li>
                      
                    </ul>
                
            
                  </div>
              
              </div>
              
            </section>  
            <p style="text-align: center; font-size: 20px; text-justify: auto;"><b><i style="color:darkslateblue">we like to hear from you. <br> Any queries you can contact us.</i></b></p>
          
      </div>
      
  </body>
