<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment confirmation page</title>
</head>
<body>
    <h1 style="background-color: chartreuse;text-align: center;">Payment Started Successfully</h1>
    <br><p style="font-size: 30px;text-align: center;color:rgb(4, 4, 59)">We need a confirmation from you.
        Please Enter the amount to be deducted.
    </p><br><br>
    <form action="">
    <input type="number" placeholder="Enter Amount"/>
    <br>
    <button class="btn btn-success" routerLink="/delivery">Confirm</button>
</form>

    
</body>
</html>

