form {
	
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 5%;
	text-align: center;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #d7ece3, #a4beb4, #e0f1ef);
    min-height: 100vh;
    padding-bottom: 100px;
  }