<body>
    <h1 class="text-center"> <b style="color: rgb(34, 111, 163);">About us</b></h1>
    
        <!-- <div class="container mt-5 mb-5"> -->
            <h1> Details About Online Grocery Application </h1>
<div class="grocery">
    <div class="container">
        <h3> What is Online Grocery App? </h3>
        <p>An online grocer is a supermarket or grocery store that allows ordering via websites or mobile apps.
            The order can either be collected by the customer or delivered to the customer. </p>
            <br>

            <h3> Platforms </h3>
        <p>The online grocer technology platform could be developed in-house, or a third party's platform could be re-used 
            and customized to reflect the company brand and provide unique features. In some cases, </p>
    </div>

    <div class="container1">
        <h3> Impact on the Environment </h3>
        <p>Online grocery stores may allow facilitating local food which may reduce the environmental impact of food transport.
             Small-scale farmers have been embracing digital technologies as a way to directly sell produce, and community-supported 
             agriculture and direct-sell delivery systems are on the rise during the coronavirus pandemic. Furthermore, weekly grocery
              deliveries can be a better choice than individual trips to a store Some online grocery stores have a goal of supporting 
              the production and sale of fresh, organic, locally grown, sustainable foods.</p>
    </div>

    <div class="container2">
        <h3> Date and Online Grocers </h3>
        <p>The biggest advantage that online grocers have vis-a-vis brick-and-mortar store is more accurate data. Online grocers 
            can use AI and machine-learning models to provide a more personalized experience for their customers. There are four
             main ways to utilize data for online grocers: creating smart shopping lists, personalizing discounts, personalizing
              the way items are shown to users, and providing contextualized recommendations. All these are intended to increase
               up-selling and cross-selling options as well as increase the customer's lifetime value.</p>
    </div>

    <div class="container3">
        <h3> Benefits of Using Online Grocery Shopping </h3>
            <ul>
                <li> Variety of Products Available </li>
                <li> Home Delivery Services </li>
                <li> Better Pricing System </li>
                <li> Time-saving Experience </li>
                <li> 24/7 Shopping Services </li>
                <li> Easy to Re-order Items </li>
                <li> Finding Products is Easy </li>
                <li> Not Boring or Tiding </li>
                <li> Simple Replacement </li>
            </ul> 
    </div>

    <div class="container4">
        <h3> Steps to do Online Grocery Shopping </h3>
        <ol>
            <li> Find an online grocery store that will deliver or ship to your area. </li>
            <li> Compare different sites if you have options in your area. </li>
            <li> Go to the website you want to use to buy your groceries online. </li>
            <li> Click on the department you want to start shopping in, or look for a tab such as "browse" to search the whole store. </li>
            <li> Pay attention to the fresh and frozen foods you buy.</li>
            <li> Start an online shopping list if you are going to do your grocery shopping online on a regular basis. </li>
            <li> Create an account. </li>
            <li> Provide your delivery address. </li>
            <li> Provide your payment details. </li>
            <li> Confirm the transaction by clicking "place order" or a similar button, and wait for the confirmation screen to show up. </li>
        </ol>
    </div>
</div>
        
        <!-- </div> -->
    </body>
