<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body style="align-items: center;">
    <h1 style="text-align: center;background-color: rgb(228, 241, 241);color: midnightblue;">Your Payment Successful</h1>
    <img src="assets\img\images.jpeg"><br><br>
    <P style="font-size: 30px;text-align: center;color: darkslategrey;">Our delivery partner will deliver your order soon. <br> Thanks for ordering with us. <br>.........................</P>
    
    <button class="btn btn-success" routerLink="/menu">Continue Ordering>></button>
</body>
</html>
